body {
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2.4em;
  color: palevioletred;
    width: 1600px;
    height: 100px;
  text-align: center;
    animation-name: aSuperAnimation;
    animation-duration: 10s;
    animation-iteration-count: 3;
    margin-top: 100px;
}

@keyframes aSuperAnimation  {
    0% {
        font-size: 2.4em;
        left:1200px; top:100px;
        
         }
    25% {
        color: palegoldenrod;
        left:1300px; top:100px;
        transform: translate(1000px);
    }
    50% {
        color: palegreen;
        left:1400px; top:100px;
        transform: translate(2000px)
    }
    75% {
        color: paleturquoise;
        left:1500px; top:100px;
    }
    100% {
        color: palevioletred;
        left:1600px; top:100px;
    }
} 