body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #E3C0D3;
}

h1 {
  font-size: 2.4em;
  font-family: sans-serif;
  color: #333;
  padding-top: 20%;
  text-align: left;
  padding-left: 20px;
  animation: SuperAnimation 5s infinite;
}


@keyframes SuperAnimation {
	25% {
		transform: translate(50px);
		color: #FFF;
	}

	60% {
		transform: translate(2000px);
		color: #FFF;
	}

	100% {
		transform: translate(0px);
	}
}